:root {
    --accent: #0b5ed7;
    --primary: #171459;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: conic-gradient(
        at left top,
        rgb(134, 239, 172),
        rgb(59, 130, 246),
        rgb(147, 51, 234)
    );
    color: var(--primary);
    padding: 6rem;
}

.container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.679);
    border-radius: 2rem;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.211);
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    gap: 1rem;
    background: #fff;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.211);
}

label{
    letter-spacing: .1rem;
    font-weight: 700;
}

input,
select {
    padding: 0.8rem;
    border-radius: 0.6rem;
    border: solid 1px silver;
}

input:focus,
select:focus {
    outline: 2px solid var(--accent);
}

button {
    background: var(--accent);
    color: #fff;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: 4px 8px 19px -3px rgb(0 0 0 / 27%);
}

button:hover {
    color: var(--accent);
    background: #fff;
}
.chart-container {
    margin: 0;
    width: 60%;
    min-height: 450px;
    padding: 3rem;
}

#result{
    font-weight: 700;
    font-size: 2rem;
}